{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Hajime Dojo{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'images/image.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'includes/header.html' %}

    <main class="page">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    {% include 'includes/footer.html' %}
</body>
</html>